@model ContactDonor.Web.Controllers.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}


<div class="container my-5 py-5 z-depth-1 shadow-sm">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">

                <!-- Default form login -->
                <form class="text-center" asp-action="Register" asp-controller="Account">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger">
                    </div>
                    <p class="h4 mb-4">Register</p>

                    <!-- Email -->
                    <input type="email" asp-for="Email" id="defaultLoginFormEmail" class="form-control m-2 " placeholder="E-mail">
                    <span asp-validation-for="Email" class="text-danger d-flex justify-content-start ml-2"></span>


                    <!-- Password -->
                    <input type="password" asp-for="Password" id="defaultLoginFormPassword" class="form-control m-2" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger d-flex justify-content-start ml-2"></span>


                    <!-- Confirm password -->
                    <input type="password" asp-for="ConfirmPassword" id="defaultLoginFormPassword" class="form-control m-2" placeholder="Confirm password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger d-flex justify-content-start ml-2"></span>


                    <!-- Sign in button -->
                    <button class="btn btn-primary btn-block my-4" type="submit">Register</button>

                    <!-- Register -->
                    <p>
                        Alredy have an Account?
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </p>

                    <!-- Social login -->
                    <p>Or continue with:</p>

                    <a href="#" class="mx-1" role="button"><i class="fab fa-google"></i></a>


                </form>
                <!-- Default form login -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
