@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4 animate__animated animate__pulse">
        Donate Blood Save Lives <i class="fa fa-heartbeat" style="color:greenyellow;" aria-hidden="true"></i>
    </h1>
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-8 animate__animated animate__zoomIn">
                <img class="img-fluid mx-auto d-block" style="width:50%;" src="https://stanfordbloodcenter.org/wp-content/uploads/2020/06/Blood-facts_10-illustration-graphics__canteen.png" />

            </div>
            <div class="col-4 animate__animated animate__fadeIn">
                <div class="d-flex flex-column animate__animated animate__fadeInRight">
                    <h6 class="shadow-lg p-3">
                        More than 38,000 blood donations are needed every day.
                    </h6>
                    <h6 class="shadow-lg p-3 mt-4 animate__animated animate__fadeInRight">
                        Donating blood may help in improving cardiovascular health and reducing obesity.
                    </h6>
                </div>

            </div>
        </div>
    </div>
</div>
    <div class="container m-3">
        <div class="d-flex justify-content-around m-4 overflow-auto">
            <div class="m-2">
                <div class="card">
                    <div class="card-body text-white lead shadow-sm font-weight-bold" style="background-color: #19408c">Giving blood can reveal potential health problems</div>
                </div>
            </div>
            <div class="m-2">
                <div class="card  text-muted">
                    <div class="card-body text-white lead shadow-sm font-weight-bold" style="background-color: #19408c">Giving blood can reduce harmful iron stores</div>
                </div>
            </div>
            <div class="m-2">
                <div class="card  text-muted">
                    <div class="card-body text-white lead shadow-sm font-weight-bold" style="background-color: #19408c">Giving blood may lower your risk of suffering a heart attack</div>
                </div>
            </div>
        </div>
    </div>

